* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ddd;
}
header, section {
    padding: 5rem;
}
header {
    background-color: #2196f3;
}
main {
    
    margin: auto;

    display: grid;
   
    grid-template-areas:
    "video-player   video-player" 
      "video-info     video-info" 
      "actions        actions" 
      "channel        subscribe" 
      "ad              ad"
      "up-nex         up-nex" ;
     
}

.video-info{
    background-color: red;
    grid-area: video-info;
}
.actions{
    background-color: #a7caeb;
    grid-area: actions;
}
.video-player{
    background-color:yellow;
    grid-area: video-player;
}
.channel{
    background-color: #2c0b79;
    grid-area: channel;
}
.subscribe{
    background-color: #1dc2b4;
    grid-area: subscribe;
}
.ad{
    background-color: orange;
    grid-area: ad;
    
}
.up-nex{
    background-color: #a00d94;
    grid-area: up-nex;
}    
@media screen and (max-width:700px) {
    .ad {
        display: none;
    }
}
@media screen and (min-width:700px) {
    main {
        width: 1000px;

    grid-template-areas:
    "video-player   video-player   ad" 
    "video-player   video-player   up-nex" 
     "video-info     actions   up-nex " 
     "channel        subscribe    up-nex";
      
           
    }
    
}